/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.scrollable-container {
  max-height: 89dvh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollable-container>.btn {
  display: block;
  width: 100%;
}